  .firstgraph {
    display: flex;
    flex-wrap: wrap; /* Enables wrapping of flex items */
    justify-content: space-between;
    gap: 20px; /* Adjust space between the child divs */
    padding: 30px;
  }

  .child {
    min-height: 300px;
    flex: 1 1 45%; /* Make both divs take up space, but allow them to shrink */
    min-width: 200px; 
    border-radius: 0.8em;
    border: 1px solid #4e5a61;
  }
  
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
