.graphhdiv {
    /* margin-top:5%; */
    /* margin-bottom: 10%; */
    /* height: 100vh; */
    /* width: '100%'; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 5vw;
    /* background-color: #ddd; */ 
  }
  .firstgraph {
    display: flex;
    flex-wrap: wrap; /* Enables wrapping of flex items */
    justify-content: space-between;
    gap: 20px; /* Adjust space between the child divs */
    padding: 30px;
  }

  .child {
    min-height: 300px;
    flex: 1 1 45%; /* Make both divs take up space, but allow them to shrink */
    min-width: 200px; 
    border-radius: 0.8em;
    border: 1px solid #4e5a61;
  }
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  .dataCard {
    /* background-color: #efefef; */
    border-radius: 0.5em;
    padding: 1em;
  }
  
  .revenueCard {
    width: 92%;
    height: 20rem;
  }
  
  .customerCard {
    width: 40%;
    height: 20rem;
  }
  
  .categoryCard {
    width: 40%;
    height: 20rem;
  }